/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/********* Global styles  **********/
html {
  font-size: 16px;
  color: #2b2b2b;
}

.content-wrapper {
  display: flex;
  flex-flow: column;
  padding: 2% 5%;
  max-width: 1200px;
  margin: auto;
}

figure {
  margin: 0;
}

/********* Mobile  styles  **********/

/********* Text styles  **********/

h1 {
  color: #2b2b2b;
  font-family:'Lora', serif;
  font-size: 2.5em;
  line-height: 80px;
}

h1 span {
  color: #828282;
}

 h2 {
  color:#bbc085;
  font-family:'Lora', serif;
  font-size:2em;
  font-weight: bold;
}


/******* header styles  ********/

header{
  background-color: #f3f3f3; 
}

header .content-wrapper {
  background: url(../img/full-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 650px;
}

header .header-title-nav {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  align-items: center;
}

header .site-title {
  width: 90%;
}

header .menu-icon {
  width: 10%;
  font-size: 2.5em;
}

/*  nav styles  */

header nav {
  display: none;
}

/* mobile nav styles  */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 1.75em;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 2.5em;
}


/******** main styles  ********/

/*** about section styles  ***/

.about h2{
    font-family: 'Lora', serif;
    font-size:1.75em;
    color: #2b2b2b;
  }

.about p{
  color:#7f7f7f;
  font-size: 1em;
  line-height: 40px;
}

/*** work section styles  ***/

.work{
  background-color:#f9ceb7;
}

.work .content-wrapper{
  padding-top: 7%;
}

.work .content{
  display: flex;
  flex-flow: column;
  align-items: center;
}

.work h3 {
  font-size:1.5em;
  line-height: 32px;
  text-align: center;
  height: 40px;
}
.work p{
font-family: 'Lora', serif;
font-size: 1em;
line-height: 30px;
width: 80%;
}

/******** footer styles  ********/

/*** contact section styles  ***/

footer{
  background-color:#ededed; 
}

footer .content {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}

footer figure {
  display: none;
}

footer h2 {
  color: #2b2b2b;
  font-family: 'Lora', serif;
  font-size: 1.75em;
  line-height: 44px;
}

#contact #email-header{
  font-size: 1.5em;
  font-weight: normal;
  line-height: 44px;
}

  #contact #socialmedia-header {
    font-size: 1.4em;
    font-weight: bold;
    line-height: 44px;
}

#contact a {
  color: #c49075;
  font-size: 1.3em;
  font-weight: Bold;
  text-decoration: None;
}

  footer ul {
  display: flex;
  padding: 0;
  width: 70%;
  align-items: center;
  justify-content: space-between;
}

footer li {
  list-style: none;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /********* Tablet  styles  **********/

  /********* Text styles  **********/

  /******* header styles  ********/

  header .content {
    width: 50%;
  }

  /******** main styles  ********/

  /*** about section styles  ***/

  .about .content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .about .content p {
    width: 45%;
  }

  /*** work section styles  ***/
 
  .work .content-wrapper {
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 3%;
  }

  .work .content {
    width: 30%;
  }

  .work .content h3,
  .work .content p {
    text-align: center;

  }

  /******** footer styles  ********/

  /*** contact  section styles  ***/

  
  footer .contact {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
  }
  footer figure {
    display: flex;
    border: 12px solid #ffffff;    width: 45%;
  }
  footer figure img {
    width: 100%;
  }
  
  footer .content {
    width: 45%;
  }

  footer ul {
    width: 80%;  
  }

}

@media only screen and (min-width: 1200px) {
  /********* Desktop  styles  **********/

  /********* Text styles  **********/

  /******* header styles  ********/

  header .content-wrapper {

    height: 650px;
  }

  header .content {
    width: 20%;
  }

  /* nav styles */

  header .site-title {
    width: 40%;
  }
  header nav {
    display: flex;
    width: 60%;
  }

  nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 100%;
  }

  nav li {
    list-style: none;
  }

  nav a {
    color: #828282;
    text-decoration: none;
    font-size: 1.25em;
  }

  header .menu-icon {
    display: none;
  }

  /******** main styles  ********/

  /*** about section styles  ***/

  /*** work section styles  ***/

  /******** footer styles  ********/

  /*** contact  section styles  ***/
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
